.logincontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginfield {
    align-self: center;
    width: 50% !important;
}

.adminButton {
    margin-top: 20px;
    width: 50%;
}

.articleTitleField {
    margin: 1% 5% 1% 5%;
}

.editorSubmitButton {
    margin: 0 5% 5% 5%;
    width: 90%;
}

.markdownEditor {
    width: 100%;
}

.articleList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
}

.articleAndPaginator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.articlePaginator {
    margin-top: 50px;
}

.articleCard {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    transition: width 0.5s;
    margin: 5px 10px;
    background: ghostwhite;
    padding: 20px;
    width: 450px;
    max-width: 100%;
}

@media only screen and (max-width: 700px) {
    .articleCard {
        width: 90%;
        transition: width 0.5s;
    }
}

.articleCardDivider {
    border-style: inset;
    border-width: 1px;
    color: black;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 5px;
}

.article {
    margin: 0% 25% 0% 25%;
}

.article img {
    width: 100%;
}

#content {
    padding-top: 10px;
    color: black;
}

.readmorebutton {
    font-size: 15px;
}

.topnavlink {
    margin: 0% 1% 0% 1%;
    align-self: center;
    font-size: 26px;
    font-weight: 300;
}

.navcontainer {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    height: 50px;
    background-color:  rgba(0, 188, 190, 0.3);
}

.navlink {
    position: relative;
    color: black;
    transition: font-size 0.3s;
}

.navlink:hover,
.navlink:focus {
    position: relative;
    color: black;

}

.navlink,
.navlink:visited {
    text-decoration: none;
}

.navlink-underline {
    text-decoration: underline;
}

@media only screen and (max-width: 500px) {
    .navlink {
        font-size: 20px;
        transition: font-size 0.3s;
    }

    .navcontainer {
        -webkit-padding-start: 0px;
    }

    .article {
        margin: 0% 5% 0% 5%;
        transition: margin 0.5s;
    }
}

@media only screen and (max-width: 330px) {
    .navlink {
        font-size: 13px;
    }

    .article {
        margin: 0% 2% 0% 2%;
        transition: margin 0.5s;
    }
}

.logo {
    max-height: 60px;
    max-width: 60px;
}

/* roboto has font weight 300 & 400 */
* {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

p {
    color: black;
}

.articlecontainer {
    margin-bottom: 10px;
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.articlelinkedit {
    margin-left: 20px;
    font-size: 20px;
}

.articlelinkedit:hover {
    color: rgba(0, 140, 200, 0.8);
}

.articlelinkdelete {
    font-size: 20px;
    margin: 5px;
}

.articlelinkdelete:hover {
    color: red;
}

.adminButtonContainer {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.articleTitle {
    font-size: 25px;
    font-weight: 300;
    color: black;
    margin-bottom: 0;
    margin-top:0;
}

.articleTitle:hover {
    text-decoration: underline;
}

.articleImageContainer {
    display: flex;
    justify-content: center;
    align-self: center;
}

.articleDate {
    font-size: 15px;
    color: lightgrey;
    text-decoration: none;
    margin-top: 5px;
    color: rgba(0,0,0,0.4);
}

.photoContainer {
    position: relative;
    width: 350px;
    justify-content: space-around;
    height: auto;
}

.photoContainer img {
    max-width: 90%;
    margin: 10px;
}

.articlePhoto {
    position: relative;
    max-width: 100%;
    height: 250px;
    object-fit: contain;
}

.deletePhotoButton {
    position: absolute !important;
    font-size: 20px;
    top: 30px !important;
    right: 30px !important;
}

.deletePhotoButton:hover {
    color: red;
}

.copyPhotoButton {
    position: absolute !important;
    font-size: 20px;
    top: 30px !important;
    right: 60px !important;
}

.copyPhotoButton:hover {
    color: green;
}

.deleteArticleButton {
    position: absolute !important;
    font-size: 20px;
    top: 30px !important;
    right: 30px !important;
}

.photoListContainer {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addPhotoDialog {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photoListEmpty {
    align-self: center;
    margin-top: 10px;
}

.addPhotoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addPhotoButton {
    align-self: center;
    margin: 10px;
}

.divider {
    color: black;
}

.articleLink {

}

.articleLink:hover {
    text-decoration: none;
}

.articleLinkContainer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content:center;
}

.aboutContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 0px 30px 0px 30px;
}

.aboutContainer p {
    color: black;
}

.aboutImage {
    max-width: 100%;
    object-fit: contain;
}

.articleEditor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0% 5% 1% 5%;
    padding: 20px;
    border-radius: 5px;
    background-color: ghostwhite;
}

.articleEditorImagePreview {
    max-width: 60%;
}

.imagePreviewContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editorAddPhotoButton {
    width: 90%;
    margin-bottom: 5px;
}

.articlePreview {
    color: black;
}

.thumbnailEditorContainer {
    max-width: 100%;
    padding-top: 5px;
    padding-bottom: 20px;
}

.thumbnailImagePreviewContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
}

.thumbnailImageDescriptionContainer {
    width: 430px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.photosToPickContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.photosContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.photosContainer div{
    margin: 10px;
}

.imageWithButtonContainer {
    width: 470px;
    max-width: 100%;
    cursor: pointer;
    height: 235px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    border: 3px solid #000;
    border-radius: 3px;
    margin: 13px 6px;
    -webkit-transition: border 200ms ease-out;
    -moz-transition: border 200ms ease-out;
    -o-transition: border 200ms ease-out;
    transition: border 200ms ease-out;
}

.imageWithButtonContainer:hover {
    border: 3px solid rgb(0, 188, 212);
}

.thumbnailImageContainer {
    width: 500px;
    max-width: 100%;
    height: 250px;
    overflow: hidden;
    display: inline-block;
    position: relative;
}

.thumbnailImage {
    width: 100%;
}

.imageWithButtonImage {
    width: 100%;
    z-index: -1;
}

.imageWithButtonButton {
    position: absolute;
    width: 40%;
    right: 30%;
    bottom: 5px;
}

.customDropzone {
    width: 500px;
    max-width: 100%;
    height: 255px;
    border: 2px dashed rgb(102, 102, 102);
    border-radius: 5px;
}

.dropZoneRejected {
    border: solid #c66;
    background-color: #eee;
}

.dropZoneActive {
    border: solid #6c6;
    background-color: #eee;
}

.hide {
    display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition-delay: 9999s;
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
}

.shadow {
    -webkit-box-shadow: 3px 2px 1px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 3px 2px 1px #ccc; /* Firefox 3.5 - 3.6 */
    box-shadow: 3px 2px 1px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.noDraftFoundText {
    color: black;
    text-align: center;
}

.flexContainerCenterItem {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.thumbnailEditorButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonsInColumn {
    margin-bottom: 15px;
}

.customActionsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.pagination {
    margin: 5px 0;
    cursor: pointer;
    padding-right: 25px;
}

.pagination > li > a, .pagination > li > span {
    color: rgb(0, 188, 212);
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: rgb(0, 188, 212);
    border-color: rgb(0, 188, 212);
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 80px;
    /* bottom = footer height */
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow: hidden;
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

