.logincontainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.loginfield {
	align-self: center;
	width: 50%;
}

.loginbutton {
	margin-top: 20px;
	width: 50%;
}

.markdownEditor{

}